<div class="sc-details-menu">
  <mat-card>
    <mat-card-header *ngIf="currentUser$ | async as currentUser">
      <img mat-card-avatar [src]="currentUser.avatar">
      <mat-card-title>{{currentUser.username}}</mat-card-title>
      <mat-card-subtitle>{{currentUser.email}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="sc-details-menu__content">
        <a class="sc-details-menu__section"
           routerLink="/home/profile">
          <button class="sc-details-menu__section__button"
                  mat-button>

            <span class="sc-details-menu__section__icon">
              <mat-icon>
                person
              </mat-icon>
            </span>

            <span class="sc-details-menu__section__text">Profile</span>
          </button>
        </a>
      </div>
    </mat-card-content>

    <mat-card-footer>
      <div class="sc-details-menu__footer">
        <button mat-button (click)="logout()">
          Logout
        </button>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
