<div class="sc-header">
  <mat-card>
    <mat-card-content>
      <div class="sc-header__content">
        <div class="sc-header__section sc-header__section--left">
          <a class="sc-header__logo" routerLink="/">
            Shotcutter
          </a>
        </div>

        <form class="sc-header__section sc-header__section--search" (ngSubmit)="searchMovie()">
          <mat-form-field>
            <mat-label>
              Search
            </mat-label>

            <input [formControl]="lookupKeyFormControl"
                   matInput
                   [matAutocomplete]="auto">


            <mat-autocomplete #auto="matAutocomplete"
                              panelWidth="350px">
              <mat-option class="sc-header__lookup-item"
                          [value]="movie"
                          *ngFor="let movie of movieLookupOptions$ | async">
                <div class="sc-header__lookup-item__container">
                  <div class="sc-header__lookup-item__img-container">
                    <div class="sc-header__lookup-item__img"
                         [style.background-image]="movie.posterPath | tmdbImage | urlCssValue">
                    </div>
                  </div>

                  <div class="sc-header__lookup-item__info">
                    <div class="sc-header__lookup-item__title">{{movie.title | maxLength:40}}</div>
                    <div class="sc-header__lookup-item__subtitle">{{movie.overview | maxLength:80}}</div>
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>

            <div class="sc-header__section__search-buttons" matSuffix>
              <button mat-icon-button>
                <mat-icon> settings </mat-icon>
              </button>
              <button mat-icon-button
                      type="submit">
                <mat-icon> search </mat-icon>
              </button>
            </div>
          </mat-form-field>
        </form>

        <div class="sc-header__section sc-header__section--user-info">
          <button class="sc-header__section__item"
                  (click)="switchTheme()"
                  mat-icon-button>
            <mat-icon>
              {{themeIcon$ | async}}
            </mat-icon>
          </button>

          <sc-user-info class="sc-header__section__item"
                        *scIfAuthenticated="true"
                        (click)="showDetailsMenu = !showDetailsMenu">
          </sc-user-info>

          <button class="sc-header__section__item"
                  routerLink="/auth"
                  *scIfAuthenticated="false"
                  mat-icon-button>
            <mat-icon>
              login
            </mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="sc-header__details-menu"
       *ngIf="showDetailsMenu">
    <sc-user-details-menu (scClickOutside)="showDetailsMenu = !showDetailsMenu">
    </sc-user-details-menu>
  </div>
</div>
