<div class="sc-header">
  <mat-card>
    <mat-card-content>
      <div class="sc-header__content">
        <div class="sc-header__section sc-header__section--left">
          <a class="sc-header__logo" routerLink="/">
            Shotcutter
          </a>
        </div>

        <div class="sc-header__section sc-header__section--right">
          <button class="sc-header__section__item"
                  mat-icon-button
                  (click)="switchTheme()">
            <mat-icon>
              {{themeIcon$ | async}}
            </mat-icon>
          </button>

          <sc-user-info class="sc-header__section__item"
                        (click)="showDetailsMenu = !showDetailsMenu">
          </sc-user-info>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="sc-header__details-menu"
       *ngIf="showDetailsMenu">
    <sc-user-details-menu (scClickOutside)="showDetailsMenu = !showDetailsMenu">
    </sc-user-details-menu>
  </div>
</div>
