@import 'mixins/animations';

.sc-search {
  display: flex;

  &__config {
    flex: 2;

    &__form {
      display: flex;
      flex-direction: column;
    }

    &__footer {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__results {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    @include scale-on-hover;
    flex: 5;
    width: 60vw;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
