.sc-user-info {
  display: flex;
  align-items: center;
  border-radius: 50%;

  &__name {
    margin-right: 10px;
  }

  &__avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
  }
}
